.spacer-container {
    width: 15px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--secundary-color);
    position: relative;
}

.spacer::before, .spacer::after {
    position: absolute;
    width: 10px;
    height: 10px;
    content: "";
    border-radius: 50%;
    background-color: var(--secundary-color);
    left: 3px;
}

.spacer::before {
    bottom: 30px;
}

.spacer::after {
    top: 30px;
}