#kalender-pagina-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#kalender-container {
    width: 990px;
    min-height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#kalender-container h2 {
    margin-left: 1rem;
}

#kalender-items {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 5rem;
}