.agenda-item {
    width: 95%;
    min-height: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-shadow: 1px 4px 5px 0 rgba(0,0,0,0.36);
    box-shadow: 1px 4px 5px 0 rgba(0,0,0,0.36);
    /*border-bottom: 1px solid black;*/
    /*border-radius: 5px;*/
}

.agenda-item:first-child {
    font-weight: bold;
    text-transform: uppercase;
}

    /*.agenda-item+.agenda-item {*/
    /*    margin-top: 1rem;*/
    /*}*/

.agenda-item:nth-of-type(even   ) {
    background-color: lightgrey;
}

.agenda-item:last-child {
    border:none;
}

.soort, .datum {
    width: 100px;
}

.bijzonderheden {
    width: 150px;
}

.activiteit {
    width: 640px;
}

@media only screen and (min-width: 992px) {
    .agenda-item {
        min-height: auto;
        flex-wrap: nowrap;

    }

    .agenda-item:first-child {
        font-weight: bold;
        text-transform: uppercase;
    }

    /*.agenda-item+.agenda-item {*/
    /*    margin-top: 1rem;*/
    /*}*/

    .agenda-item:nth-of-type(even   ) {
        background-color: lightgrey;
    }

    .agenda-item:last-child {
        border:none;
    }

    .soort, .datum {
        width: 100px;
    }

    .bijzonderheden {
        width: 150px;
    }

    .activiteit {
        width: 640px;
    }
}