.container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;

}

@media only screen and (min-width: 992px) {
    .container {
        height: 500px;
        margin: 50px auto;
    }
}
