.post-container {
    max-width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.preview, .preview img {
    width: 100%;
    border-radius: 0;
}

.preview {
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 100px;
    height: 0px;
    border: 1px solid var(--secundary-color); 
    margin: 25px;
}

.post-container .info h2 {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 992px) {
    .post-container {
        max-width: 992px;
        height: 400px;
        flex-direction: row;
        justify-content: center;
        margin: 100px 0;
    }
    
    .preview, .preview img {
        width: 600px;
        border-radius: 100px;
    }
    
    .preview {
        height: 400px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    hr {
        width: 100px;
        height: 0px;
        border: 1px solid var(--secundary-color); 
    }
    
    .left {
        margin-left: 17px;
    }

    .right {
        margin-right: 17px;
    }
    
    .info h2 {
        width: 273px;
        margin: 0;
        padding: 0;
    }

    .info, .info h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}