#nav-container {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style-type: none;
    top: 100px;
    right: 80px;
}

nav a {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary-color);
    border-top: 1px solid var(--primary-color);
    text-decoration: none;
    color: var(--secundary-text);
    position: relative;
}

nav a:hover {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    font-weight: bold;
}

.open {
    visibility: initial;
}

.closed {
    visibility: hidden;
}

.burger-btn-open, .burger-btn-closed {
    width: 31px;
    height: 31px;
    position: relative;
    right: 100px;
    border: 1px solid white;
}

.burger-btn-open div,
.burger-btn-closed div {
    width: 23px;
    height: 5px;
    background-color: var(--primary-color);
    opacity: 100%;
}

.burger-btn-open {
    justify-content: center;
    transition: justify-content 250ms ease-in-out;
}

.burger-btn-closed div, .burger-btn-open div {
    position: absolute;
    left: 4px;
}

.burger-btn-closed div {
    rotate: 0;
    transition: rotate 100ms ease-in-out;
}

.burger-btn-closed div:nth-child(1) {
    top: 4px;
    transition:
        rotate 100ms ease-in-out,
        top 250ms ease-in-out 100ms;
}

.burger-btn-closed div:nth-child(2) {
    top: 13px;
    opacity: 100%;
    transition: opacity 0ms linear 100ms;
}

.burger-btn-closed div:nth-child(3) {
   bottom: 4px;
   transition:
        rotate 100ms ease-in-out,
        bottom 250ms ease-in-out 100ms;
}

.burger-btn-open div:nth-child(1) {
    top: 13px;
    rotate: 45deg;
    transition: top 250ms ease-in-out, rotate 100ms ease-in-out 250ms;
}

.burger-btn-open div:nth-child(2) {
    top: 13px;
    opacity: 0;
    transition: opacity 0ms linear 250ms;
}

.burger-btn-open div:nth-child(3) {
    bottom: 13px;
    rotate: -45deg;
    transition: bottom 250ms ease-in-out, rotate 100ms ease-in-out 250ms;
}

.burger-btn-open div:first-child, .burger-btn-open div:last-child {
    opacity: 100%;
}

@media only screen and (min-width: 992px) {
    nav {
        flex-direction: row;
        position: unset;
        visibility: visible !important;
        margin-right: 100px;
    }
    
    nav a {
        width: auto;
        height: auto;
        background-color: var(--secundary-color);
        border: none;
    }

    nav a:hover {
        background-color: initial;
        color: var(--secundary-text);
        font-weight:initial;
    }

    nav a+a {
        margin-left: 25px;
    }

    .burger-btn-open, .burger-btn-closed {
        width: 31px;
        height: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px solid white;
        visibility: hidden;
    }

}